* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Style et positionnement basique */
body {
  padding: 1rem;
  text-align: right;
}

h1 {
  text-align: center;
}

p {
  padding: 1rem;
}

#box>button {
  position: absolute;
}

#box>button:first-of-type{
    left: 0;
    bottom: 50%;
}

#box>button:nth-of-type(2){
    right: 0;
    top: 0;
}

#box>button:last-of-type{
    right: 0;
    bottom: 50%;
}

img {
  width: 60vw;
  height: 30vw;
  object-fit: cover;
}

#box{
    position: absolute;

}

#boutons{
    position: absolute;
    bottom: 0;
    left: 7vw;
}





